

#Anny{
    padding: 10px 10px 150px 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 20px;
    
}
#about_me {
    font-family: 'Roboto', sans-serif;
    padding: 70px 50px 50px 70px;
    text-align: center;
    font-size: 20px;
}
#about_me > p {
    text-align: left;
}

#about_me > table {
    background-color: rgb(240, 248, 255);
}

#KnowMe {
    font-family: 'Roboto', sans-serif;
    padding: 70px 20px 20px 90px;
    text-align: left;
    font-size: 20px;
}

#KnowMe > h1 {
    text-align: center;
}
    
#Portafolio {
    font-family: 'Roboto', sans-serif;
    padding: 70px 50px 50px 70px;
    text-align: center;
    font-size: 20px;
}



